.dialog{
    display: flex;
    margin: 15px;
    text-align: left;
    align-items: center;

}

.dialog a {
    color: black;
    text-decoration: none;
}

.dialog a:hover {
    color: orangered;
}

.dialog img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
}