.usersPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectedPage {
    font-weight: bold;
}


@media only screen and (max-width: 750px) {
    .usersPage {
        align-items: flex-start;
        margin-right: 40px;
        padding: 0;
    }
}