.usersPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usersList {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.selectedPage {
    font-weight: bold;
}
