.message {
    display: flex;
    align-items: flex-end;
    margin: 1px 0 0 60px;
    box-sizing: border-box;
}

.lastMessageWrapper {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1px;
    position: relative;
    box-sizing: border-box;
}

.avatar {
    margin-right: 10px;
}

.messageContent {
    padding: 10px;
    border-radius: 0.75rem;
    background-color: rgba(0, 0, 0, 0.85);
}

.lastMessage {
    padding: 10px;
    margin: 1px 0 0 10px;
    border-radius: 0.75rem 0.75rem 0.75rem 0;
    background-color: rgba(0, 0, 0, 0.85);
    box-sizing: border-box;
}

.svgAppendix {
    overflow: hidden;
    position: absolute;
    left: 3.18rem;
    bottom: -0.06rem;
    width: 0.5625rem;
    height: 1.125rem;
    font-size: 1rem !important;
}

.name {
    color: #faa774;
    text-align: left;
    font-size: calc(16px - .125rem);
}

.text {
    min-width: 100px;
    max-width: 150px;
    word-wrap: break-word;
    color: rgb(245, 245, 245);
    text-align: left;
}

/*user styles*/

.userLastMessageWrapper {
    display: flex;
    align-items: flex-end;
    position: relative;
    box-sizing: border-box;
    justify-self: flex-end;
    align-self: flex-end;
}

.userMessage {
    display: flex;
    align-items: flex-end;
    margin: 1px 10px 0 0;
    box-sizing: border-box;
    justify-self: flex-end;
    align-self: flex-end;
}

.userMessageContent {
    padding: 10px;
    border-radius: 0.75rem;
    background-color: #1890ff;
}

.userLastMessage {
    padding: 10px;
    margin: 1px 10px 0 0;
    border-radius: 0.75rem 0.75rem 0 0.75rem;
    background-color: #1890ff;
    box-sizing: border-box;
}

.userAppendix {
    overflow: hidden;
    position: absolute;
    left: 7.43rem;
    bottom: -0.065rem;
    width: 0.5625rem;
    height: 1.125rem;
    font-size: 1rem !important;
}

.userText {
    min-width: 100px;
    max-width: 150px;
    word-wrap: break-word;
    color: rgb(245, 245, 245);
    text-align: right;
}
