.messagesWrapper{
    min-width: 70%;
    height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.badge{
    position: absolute;
    z-index: 1000;
    top: 83%;
    left: 80%;
}
.messagesWrapper::-webkit-scrollbar { width: 0 !important }
