.messagesWrapper {
    min-width: 70%;
    height: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.badge {
    position: absolute;
    z-index: 1000;
    top: 85%;
    left: 95%;
}

@media screen and (max-width: 500px) {
    .badge {
        left: 90%;
    }

    .messagesWrapper {
        width: 95%;
    }
}

.messagesWrapper::-webkit-scrollbar {
    width: 0 !important
}
