
.mainContent {
    grid-area: content;
    display: grid;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

.topImage img {
    height: 300px;
    width: 95%;
    border-radius: 15px;
    margin: 25px;

}

.userInfo img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: white solid 5px;

}

.userNewPosts{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 15px;
}

.textarea{
    resize: none;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    margin-right: 10px;
}

.textarea:focus{
    border: 1px solid orangered;
    outline: none;
}

.button{
   background-color: white;
    border-radius: 15px;
    border: 1px solid black;
}
