.rightNav {
    margin-right: 10px;
    grid-area: right-nav;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}


.item a {
    color: black;
    text-decoration: none;
}

.item a:hover {
    color: orangered;
}

.navbarTitle {
    font-size: 12px;
    color: gray;
}