.header {
    display: flex;
    justify-content: flex-start;
    width: 40%;
    align-items: center;
}

.item {
    border-radius: 8px;
    margin: 15px 0;
    padding: 0;
    width: 100%;
}

.likes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
