.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    justify-content: space-around;
    margin: 50px;
}

.checkbox {
    display: flex;
    align-items: center;
}