.loginWrapper {
    width: 90vw;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

.mainWrapper {
    width: 352px;
    min-height: 360px;
    border-radius: 8px;
    margin-right: 80px;
}

.title {
    text-align: left;
    font-size: 40px;

}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.inputItem {
    border-radius: 8px;
    width: 302px;
    margin: 10px 0;
}

.checkBox{
    margin-top: 10px;
}

.submitBtn {
    border-radius: 8px;
    align-self: center;
    margin-top: 20px;
    width: 302px;
}

.errorMessage {
    color: red;
}

.testData{
    width: 352px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}



@media screen and (max-width: 500px) {
    .loginWrapper {
        width: 100%;
    }

    .mainWrapper {
        width: 200px;
        height: 400px;
    }
    .testData{
        width: 200px;
        align-items: flex-start;
    }

    .inputItem {
        width: 150px;
    }

    .submitBtn {
        width: 150px;
    }
}