
.app-wrapper {
    text-align: center;
}

.app-wrapper-content {
    width: 100%;
    height: 100%;
}

.main-content {
    display: flex;
    justify-content: space-around;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}