.dialogs {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.dialogs button {
    margin-top: 10px;
}

.dialogs_items {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.addMessage {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 15px;
}